.nav-link {
  font-weight: 900;
  /* text-transform: uppercase; */
}

@media (prefers-color-scheme: light) {
  .navbar-brand,
  .nav-link {
    color: black !important;
  }
}

@media (prefers-color-scheme: dark) {
  .navbar-brand,
  .nav-link {
    color: #eeeeee !important;
  }
}
