@import url("https://cdn.jsdelivr.net/npm/@dannymichel/proxima-nova@4.5.2/index.min.css");

body {
  font-family: "Proxima Nova";
}

@media (prefers-color-scheme: light) {
  body {
    color: black;
    background-color: white;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color: black;
  }
}
